<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <title>
        User Interface
    </title>

</head>
<body>

<h1>Welcome <span th:text="${user}">Josh</span>!</h1>

<h2> Thymeleaf Model Customers </h2>
<div th:each="customer : ${customers}">
    <span th:text="${customer.id}">ID</span>
    <span th:text="${customer.name}">Name</span>
</div>

<h2> Websocket Messages </h2>
<div id="messages"></div>
<script>
    window.addEventListener('load', function (e) {
        var ws = new WebSocket('ws://localhost:8080/ws/time');
        var messages = document.getElementById('messages');
        ws.addEventListener('message', function (message) {
            var newChild = document.createElement('div');
            newChild.innerText = message.data;
            messages.appendChild(newChild);
        });
    });
</script>

</body>
</html>