<!DOCTYPE html>
<head>
    <title>
        Welcome ${user.name}!
    </title>

</head>
<body>

<h1> Thymeleaf Model Customers </h1>
<div th:each = "customer : ${customers}">
    <span th:text="${customer.id}">ID</span>
    <span th:text="${customer.name}">Name</span>
</div>

<h1> Websocket Messages
</h1>
<div id="messages"></div>
<script>
    window.addEventListener('load', function (e) {
        var ws = new WebSocket('ws://localhost:8080/ws/time');
        var messages = document.getElementById('messages');
        ws.addEventListener('message', function (message) {
            var newChild = document.createElement('div');
            newChild.innerText = message.data;
            messages.appendChild(newChild);
        });
    });
</script>

</body>
</html>